@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum ipsum sagittis tortor suscipit, venenatis elementum dui aliquet. Fusce eget velit eu velit interdum varius. Vivamus eu dolor velit. Maecenas auctor gravida nulla, nec posuere massa vestibulum sit amet. Curabitur in vestibulum odio. Aliquam mi lectus, commodo nec urna pretium, tincidunt dictum odio. Maecenas sit amet rutrum orci. Mauris rutrum felis quam, at aliquet tellus suscipit id. Nunc pharetra sodales arcu ac aliquam. Curabitur aliquam nulla vitae eleifend rutrum. Nunc sapien nibh, bibendum eu bibendum ac, rutrum gravida nunc.

    Sed tincidunt fermentum massa sit amet aliquet. Curabitur rutrum consequat ligula, eget rhoncus neque volutpat ut. Ut egestas lorem purus, in varius justo dapibus id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vel leo tellus. Cras suscipit placerat scelerisque. Vestibulum ornare hendrerit sem, at finibus erat semper ut. Aliquam libero odio, pellentesque a diam eget, efficitur dignissim massa. Fusce dapibus, sem vel mattis egestas, erat mauris vestibulum eros, ac sollicitudin nulla elit eu nulla. Maecenas auctor quis purus quis gravida. Duis consequat diam erat, vitae venenatis mi semper ut. Duis posuere, justo ut laoreet ultricies, lacus tortor semper velit, at tempor velit purus eu dolor. Curabitur semper risus iaculis rutrum fermentum. Integer consectetur diam quis dui mollis sagittis..
</p>
