@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Main St<br />
    Real, ST 00000<br />
    <abbr title="Phone">P:</abbr>
    555.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tone.pondaharn@gmail.com">tone.pondaharn@gmail.com</a><br />
</address>